#elasticsearch 제외 디렉토리 및 파일
elasticsearch-7.10.1/bin/
elasticsearch-7.10.1/data/
elasticsearch-7.10.1/jdk/
elasticsearch-7.10.1/lib/
elasticsearch-7.10.1/logs/
elasticsearch-7.10.1/modules/
elasticsearch-7.10.1/plugins/
elasticsearch.keystore


filebeat-7.10.1-windows-x86_64/kibana/
filebeat-7.10.1-windows-x86_64/module/
filebeat-7.10.1-windows-x86_64/modules.d/

kibana-7.10.1-windows-x86_64/bin/
kibana-7.10.1-windows-x86_64/data/
kibana-7.10.1-windows-x86_64/node/
kibana-7.10.1-windows-x86_64/node_modules/
kibana-7.10.1-windows-x86_64/src/
kibana-7.10.1-windows-x86_64/x-pack/node_modules/
kibana-7.10.1-windows-x86_64/x-pack/plugins/actions/
kibana-7.10.1-windows-x86_64/x-pack/plugins/alerts/
kibana-7.10.1-windows-x86_64/x-pack/plugins/apm/
kibana-7.10.1-windows-x86_64/x-pack/plugins/audit_trail/
kibana-7.10.1-windows-x86_64/x-pack/plugins/beats_management/
kibana-7.10.1-windows-x86_64/x-pack/plugins/canvas/
kibana-7.10.1-windows-x86_64/x-pack/plugins/case/
kibana-7.10.1-windows-x86_64/x-pack/plugins/cloud/
kibana-7.10.1-windows-x86_64/x-pack/plugins/code/
kibana-7.10.1-windows-x86_64/x-pack/plugins/console_extensions/
kibana-7.10.1-windows-x86_64/x-pack/plugins/cross_cluster_replication/
kibana-7.10.1-windows-x86_64/x-pack/plugins/dashboard_enhanced/
kibana-7.10.1-windows-x86_64/x-pack/plugins/dashboard_mode/
kibana-7.10.1-windows-x86_64/x-pack/plugins/data_enhanced/
kibana-7.10.1-windows-x86_64/x-pack/plugins/discover_enhanced/
kibana-7.10.1-windows-x86_64/x-pack/plugins/drilldowns/
kibana-7.10.1-windows-x86_64/x-pack/plugins/embeddable_enhanced/
kibana-7.10.1-windows-x86_64/x-pack/plugins/encrypted_saved_objects/
kibana-7.10.1-windows-x86_64/x-pack/plugins/enterprise_search/
kibana-7.10.1-windows-x86_64/x-pack/plugins/event_log/
kibana-7.10.1-windows-x86_64/x-pack/plugins/features/
kibana-7.10.1-windows-x86_64/x-pack/plugins/file_upload/
kibana-7.10.1-windows-x86_64/x-pack/plugins/global_search/
kibana-7.10.1-windows-x86_64/x-pack/plugins/global_search_bar/
kibana-7.10.1-windows-x86_64/x-pack/plugins/global_search_providers/
kibana-7.10.1-windows-x86_64/x-pack/plugins/graph/
kibana-7.10.1-windows-x86_64/x-pack/plugins/grokdebugger/
kibana-7.10.1-windows-x86_64/x-pack/plugins/index_lifecycle_management/
kibana-7.10.1-windows-x86_64/x-pack/plugins/index_management/
kibana-7.10.1-windows-x86_64/x-pack/plugins/infra/
kibana-7.10.1-windows-x86_64/x-pack/plugins/ingest_manager/
kibana-7.10.1-windows-x86_64/x-pack/plugins/ingest_pipelines/
kibana-7.10.1-windows-x86_64/x-pack/plugins/lens/
kibana-7.10.1-windows-x86_64/x-pack/plugins/license_management/
kibana-7.10.1-windows-x86_64/x-pack/plugins/licensing/
kibana-7.10.1-windows-x86_64/x-pack/plugins/lists/
kibana-7.10.1-windows-x86_64/x-pack/plugins/logstash/
kibana-7.10.1-windows-x86_64/x-pack/plugins/maps/
kibana-7.10.1-windows-x86_64/x-pack/plugins/maps_legacy_licensing/
kibana-7.10.1-windows-x86_64/x-pack/plugins/ml/
kibana-7.10.1-windows-x86_64/x-pack/plugins/monitoring/
kibana-7.10.1-windows-x86_64/x-pack/plugins/observability/
kibana-7.10.1-windows-x86_64/x-pack/plugins/painless_lab/
kibana-7.10.1-windows-x86_64/x-pack/plugins/remote_clusters/
kibana-7.10.1-windows-x86_64/x-pack/plugins/reporting/
kibana-7.10.1-windows-x86_64/x-pack/plugins/rollup/
kibana-7.10.1-windows-x86_64/x-pack/plugins/searchprofiler/
kibana-7.10.1-windows-x86_64/x-pack/plugins/security/
kibana-7.10.1-windows-x86_64/x-pack/plugins/security_solution/
kibana-7.10.1-windows-x86_64/x-pack/plugins/snapshot_restore/
kibana-7.10.1-windows-x86_64/x-pack/plugins/spaces/
kibana-7.10.1-windows-x86_64/x-pack/plugins/stack_alerts/
kibana-7.10.1-windows-x86_64/x-pack/plugins/task_manager/
kibana-7.10.1-windows-x86_64/x-pack/plugins/telemetry_collection_xpack/
kibana-7.10.1-windows-x86_64/x-pack/plugins/transform/
kibana-7.10.1-windows-x86_64/x-pack/plugins/triggers_actions_ui/
kibana-7.10.1-windows-x86_64/x-pack/plugins/ui_actions_enhanced/
kibana-7.10.1-windows-x86_64/x-pack/plugins/upgrade_assistant/
kibana-7.10.1-windows-x86_64/x-pack/plugins/uptime/
kibana-7.10.1-windows-x86_64/x-pack/plugins/watcher/
kibana-7.10.1-windows-x86_64/x-pack/plugins/xpack_legacy/

logstash-7.10.1/bin/
logstash-7.10.1/data/
logstash-7.10.1/jdk/
logstash-7.10.1/lib/
logstash-7.10.1/logs/
logstash-7.10.1/logstash-core/
logstash-7.10.1/logstash-core-plugin-api/
logstash-7.10.1/modules/
logstash-7.10.1/tools/
logstash-7.10.1/vendor/
logstash-7.10.1/x-pack/