#elasticsearch 제외 디렉토리 및 파일
elasticsearch-7.10.1/bin/
elasticsearch-7.10.1/data/
elasticsearch-7.10.1/jdk/
elasticsearch-7.10.1/lib/
elasticsearch-7.10.1/logs/
elasticsearch-7.10.1/modules/
elasticsearch-7.10.1/plugins/
elasticsearch.keystore


filebeat-7.10.1-windows-x86_64/kibana/
filebeat-7.10.1-windows-x86_64/module/
filebeat-7.10.1-windows-x86_64/modules.d/

kibana-7.10.1-windows-x86_64/bin/
kibana-7.10.1-windows-x86_64/data/
kibana-7.10.1-windows-x86_64/node/
kibana-7.10.1-windows-x86_64/node_modules/
kibana-7.10.1-windows-x86_64/src/
kibana-7.10.1-windows-x86_64/x-pack/

logstash-7.10.1/bin/
logstash-7.10.1/data/
logstash-7.10.1/jdk/
logstash-7.10.1/lib/
logstash-7.10.1/logstash-core/
logstash-7.10.1/logstash-core-plugin-api/
logstash-7.10.1/modules/
logstash-7.10.1/tools/
logstash-7.10.1/vendor/
logstash-7.10.1/x-pack/